extends layout

block content
	ul.list
		li
			a(href="#") 新闻
		li
			a(href="#") hao123
		li
			a(href="#") 地图
		li
			a(href="#") 视频
		li
			a(href="#") 贴吧
		li
			a(href="#") 学术
		li
			a(href="#") 登录
		li
			a(href="#") 设置
		li
			a(href="#")	更多产品
	div.logo
		img(src="images/bd_logo1.png")
	div.inp
		input
		a(href="#")	百度一下
	div.foot
		div.erw
			img(src="images/er.png")
			p 手机百度
		div.fo1
			ul
				li
					a(href="#") 把百度设为主页
				li
					a(href="#") 关于百度
				li
					a(href="#") About Baidu
				li
					a(href="#") 百度推广
		p.fo2 ©2017 Baidu 
			a(href="#") 使用百度前必读
			a(href="#") 意见反馈
			span　京ICP证030173号
			img(src="images/icon1.jpg")
			a(href="#") 京公网安备11000002000001号
			img(src="images/icon2.jpg")


